<div class="navbar-wrapper">

  <nav class="navbar">

    <!-- LEFT -->
    <div class="navbar-left">

      <!-- LOGO -->
      <div class="brand" routerLink="/Home">
        <img
          src="https://png.pngtree.com/png-clipart/20190611/original/pngtree-green-energy-logo-png-image_2817644.jpg"
        />
      </div>

      <!-- MENU -->
      <ul class="menu">

        <li>
          <a routerLink="/Home" routerLinkActive="active">Home</a>
        </li>

        <li class="dropdown" *ngIf="isLoggedIn">

  <span class="dropdown-title">Employee</span>

  <ul class="submenu">
    <li>
      <a routerLink="/employee">Employee Form</a>
    </li>
    <li>
      <a routerLink="/employee-view">Employee View</a>
    </li>
    <li>
      <a routerLink="/employee-duration">Employee Duration</a>
    </li>
  </ul>

</li>

        <li class="dropdown" *ngIf="isLoggedIn">
          <span class="dropdown-title">Customers ▾</span>

          <ul class="submenu">
            <li><a routerLink="/addCustomer">Add Customer</a></li>
            <li><a routerLink="/customer">Customers</a></li>
            <li><a routerLink="/employee-duration">See Duration </a></li>
            <li><a routerLink="/quotes">Quotes</a></li>
            <li><a routerLink="/add-work-order">Add Work Order</a></li>
            <li><a routerLink="/work-order">Work Order</a></li>
          </ul>
        </li>

        <li *ngIf="isLoggedIn">
          <a routerLink="/reports" routerLinkActive="active">Reports</a>
        </li>

      </ul>

    </div>


    <!-- RIGHT -->
    <div class="navbar-right">
    <button
  class="erp-btn user-chip"
  routerLink="/admin-login"
   >
  Admin Login
</button>
      <button
        class="erp-btn user-chip"
        routerLink="/loginEmp"
        *ngIf="!isLoggedIn">
        Login
      </button>

      <button
        class="erp-btn user-chip"
        (click)="logout()"
        *ngIf="isLoggedIn">
        Logout
      </button>

 <button
  class="erp-btn break-btn"
  *ngIf="isLoggedIn"
  (click)="takeBreak()">

  Take Break

</button>

    </div>

  </nav>

</div>
